[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
rpi = {gpio = "*"}
rpi-ws281x = "*"
flask = "*"
flask-cors = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
pytest-mock = "*"
