name: Check python code
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install pipenv
      run: python -m pip install --upgrade pipenv wheel
    - name: Install dependencies
      run: pipenv install --dev
      continue-on-error: true
    - name: Lint
      run: pipenv run pylint *.py
    - name: Test
      run: pipenv run py.test -v
